
@page
@using Utility
@model SparkAuto.Pages.Cars.IndexModel
@{
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

<h2 class="text-info">Cars Record for Customer</h2>

<div class="container white-background">
    <div class="card">
        <div class="card-header bg-dark text-light row container ml-0">
            <div class="col-6">
                <i class="fas fa-car"></i>
            </div>

            <div class="col-6 text-right">
                @if (User.IsInRole(SD.AdminEndUser))
                {
                    <a asp-page="../Users/Index" class="btn btn-outline-info">Liste des Utilisateurs</a>
                }
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <a asp-page="Create" asp-route-userId="@Model.CustomerAndCarVM.UserObj.Id"
                       class="btn btn-info form-control"><i class="fes fe-plus"></i> &nbsp; Add New Car</a>
                </div>
            </div>

        </div>

        <div class="col-6 offset-6">
            <div class="row form-group">
                <div class="col-4">
                    <label asp-for="CustomerAndCarVM.UserObj.Name"></label>
                </div>
                <div class="col-8">
                    <input class="form-control" asp-for="CustomerAndCarVM.UserObj.Name" readonly />
                </div>

            </div>
        </div>

        <div class="col-6 offset-6">
            <div class="row form-group">
                <div class="col-4">
                    <label asp-for="CustomerAndCarVM.UserObj.PhoneNumber"></label>
                </div>
                <div class="col-8">
                    <input class="form-control" asp-for="CustomerAndCarVM.UserObj.PhoneNumber" readonly />
                </div>

            </div>
        </div>

        <div class="col-6 offset-6">
            <div class="row form-group">
                <div class="col-4">
                    <label asp-for="CustomerAndCarVM.UserObj.Email"></label>
                </div>
                <div class="col-8">
                    <input class="form-control" asp-for="CustomerAndCarVM.UserObj.Email" readonly />
                </div>

            </div>
        </div>

        <div>
            @if (Model.CustomerAndCarVM.Cars.Count() == 0)
            {
                <p class="text-danger text-center" style="font-size:25px; ">Ouups ....! Aucun cars trouvé, veuillez ajouter un  </p>
            }
            else
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>@Html.DisplayNameFor(m => m.CustomerAndCarVM.Cars.FirstOrDefault().VIN)</th>
                        <th>@Html.DisplayNameFor(m => m.CustomerAndCarVM.Cars.FirstOrDefault().Make)</th>
                        <th>@Html.DisplayNameFor(m => m.CustomerAndCarVM.Cars.FirstOrDefault().Model)</th>
                        <th>@Html.DisplayNameFor(m => m.CustomerAndCarVM.Cars.FirstOrDefault().Year)</th>
                        <th>@Html.DisplayNameFor(m => m.CustomerAndCarVM.Cars.FirstOrDefault().Color)</th>
                        @if (User.IsInRole(SD.AdminEndUser))
                        {
                            <th></th>
                        }
                            <th></th>
                            <th></th>
                        </tr>
                    @foreach (var item in Model.CustomerAndCarVM.Cars)
                    {
                <tr> 
                    <td>@Html.DisplayFor(m => item.VIN)</td>
                    <td>@Html.DisplayFor(m => item.Make)</td>
                    <td>@Html.DisplayFor(m => item.Model)</td>
                    <td>@Html.DisplayFor(m => item.Year)</td>
                    <td>@Html.DisplayFor(m => item.Color)</td>
                    
                    @if (User.IsInRole(SD.AdminEndUser))
                    {
                        <td class="pl-5">
                            <a asp-page="../Services/Create" class="btn btn-success" asp-route-carId="@item.Id">
                                <i class="fas fa-plus"></i> &nbsp; Nouveau service
                            </a>
                        </td>
                    }


                    <td class="pr-5">
                        <a asp-page="../Services/History" class="btn btn-secondary" asp-route-carId="@item.Id">
                            <i class="fas fa-plus"></i> &nbsp; Historique du service
                        </a>
                    </td>

                    <td style="width:150px">
                        <div class="btn-group" role="group">
                            <a asp-page="Edit" class="btn btn-primary" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>
                            <a asp-page="Delete" class="btn btn-danger" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></a>
                        </div>

                    </td>

                </tr>
                    }

                </table>
            }

        </div>
    </div>
</div>

