@page
@model SparkAuto.Pages.Users.IndexModel
@{
}


<div class="row">
    <div class="col-6">
        <h2 class="text-info text-center"> Customer List</h2>
    </div>

    <div class="col-6 text-right">
        <a class="btn btn-primary" asp-page="/Account/Register" asp-area="Identity">
            <i class="fas fa-plus"></i>&nbsp; Ajouter
        </a>
    </div>

</div>

@if(Model.ApplicationUsersList.Any())
{
<form asp-page="Index" method="get">
    <div class="white-background border">

        <div style="height:60px;" class="container border border-secondary">
            <div class="row">
                <div class="col-11">
                    <div class="row" style="padding-top:10px;">
                        <div class="col-4">
                            @Html.Editor("searchName", new { htmlAttributes = new { @class = "form-control", placeholder = "Name..." } })
                        </div>
                        <div class="col-4">
                            <input id="searchPhone" name="searchPhone" class="form-control" placeholder="phone..." />
                        </div>
                        <div class="col-4">
                            @Html.Editor("searchEmail", new { htmlAttributes = new { @class = "form-control", placeholder = "Email..." } })
                        </div>
                    </div>
                </div>
                    <div class="col-1">
                        <div class="row" style="padding-top:10px; padding-right:10px;">
                            <button type="submit" class="btn btn-primary form-control">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        <br />

        <table class="table table-striped border">
            <tr class="table-secondary">
                <th>@Html.DisplayNameFor(m => m.ApplicationUsersList[0].Name)</th>
                <th>@Html.DisplayNameFor(m => m.ApplicationUsersList[0].PhoneNumber)</th>
                <th>@Html.DisplayNameFor(m => m.ApplicationUsersList[0].Email)</th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var item in Model.ApplicationUsersList)
            {
        <tr>
            <td>@Html.DisplayFor(m => item.Name)</td>
            <td>@Html.DisplayFor(m =>item.PhoneNumber)</td>
            <td>@Html.DisplayFor(m => item.Email)</td>
            <td>
                <a asp-page="../Cars/Index" asp-route-userId="@item.Id"style="text-decoration:none" >
                    <img src="~/Images/cars.png" width="40" /> &nbsp; View Cars
                </a>
            </td>
            <td>
                <a asp-page="Edit" class="btn btn-primary" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>
                <a asp-page="Delete" class="btn btn-danger" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></a>
            </td>

        </tr>
            }

        </table>

    </div>
</form>
}
else
{
    <p class="text-danger text-center" style="font-size:40px; padding-top: 30px;"> Il n'ya aucun utilisateur dans la liste </p>
}